name: model-deploy

on:
  schedule:
  - cron: '0 3 * * 1'
  
  workflow_dispatch:

jobs:
  train_and_validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install transformers[torch] datasets scikit-learn pandas

    - name: Run Retraining and Validation
      run: python scripts/retrain.py

    - name: Install test dependencies
      run: |
        pip install pytest pytest-asyncio httpx pydantic uvicorn fastapi

    - name: Run tests
      env:
        PYTHONPATH: .
        MODEL_NAME: "./tmp_model"
      run: |
        pytest -v -s tests/test_main-py

  deploy:
    needs: train_and_validate
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install HF Hub
      run: pip install huggingface_hub

    - name: Push to HuggingFace Spaces/Hub
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        python -c "
        from huggingface_hub import HfApi
        api = HfApi()
        api.upload_folder(
            folder_path='./tmp_model',
            repo_id='ximbor/sentiment-monitor',
            repo_type='model',
            token='${{ secrets.HF_TOKEN }}'
        )"
